@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-500 text-white no-drag no-select;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
  .no-select {
    user-select: none;
  }
  .select {
    user-select: auto;
  }
  .smooth {
    @apply transition duration-150;
  }
  .title-button {
    @apply smooth rounded-b-sm;
  }
  .game-grid {
    @apply grid gap-1;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .game-item {
    @apply object-cover w-full overflow-hidden;
    aspect-ratio: 59/81;
  }
  .game-item div {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
  }
  .game-item:hover div {
    @apply transform scale-105;
  }
  .game-item:hover div:first-child {
    @apply scale-110 opacity-50;
  }
  .sidebar-item div:first-child {
    @apply z-0;
  }
  .sidebar-item:hover div:first-child {
    @apply z-20;
  }
  .sidebar-item button {
    @apply z-10;
  }
  .sidebar-item:hover button {
    @apply z-30;
  }
  .sidebar-item button svg {
    @apply h-6 w-6 text-white smooth duration-300 z-40;
  }
  .sidebar-item:hover button svg {
    @apply text-black;
  }
}
