@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-500 text-white no-drag no-select;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
  .no-select {
    user-select: none;
  }
  .select {
    user-select: auto;
  }
  .smooth {
    @apply transition duration-150;
  }
  .title-button {
    @apply smooth rounded-b-sm;
  }
  
  .game-grid {
    @apply grid grid-rows-1;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
  }
  .game-item {
    @apply block;
  }
  .game-item::after {
    content: "";
    display: block;
    padding-bottom: calc(81/59 * 100%);
  }
}
